<%- include('../partials/header') -%>

    <form action="/skills" method="POST">
        New Skill<br>
        <input type="text" name="skill"><br>
        Experience<br>
        <input type="text" name="skillLevel"><br>
        <button type="submit">Save Skill</button>
    </form>

<%- include('../partials/footer') -%>