<%- include('../partials/header') -%>

    <a href="/">Home</a>
    <a href="/skills">All Skills</a>
    <h3><%= skill.skill %></h3>
    <h3>Skill Level: <%= skill.skillLevel %></h3>
  </body>
</html>

<%- include('../partials/footer') -%>